.content {
  color: black;
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
  font-weight: 100;
  width: 100%; 
}
.block, .button1, .button2, .button3 {
  position: relative;
  padding: 0;
}
.button3 {
  height: 20px;
  cursor: pointer;
  outline: none;
}
.button1, .button2 {
  margin-top: 2%;
  width: 35%;
}
.buttons{
  display: flex;
  flex-flow: column;
  cursor: pointer;
}
.block{
  width: 100%;
}
.item {
  margin-top: 2%;
}
.field{
  background: #f2f1f0;
  border: none;
  outline: none;
  width: 35%;
  height: 42px;
}
.name, .button2 {
  margin-bottom: 30px;
}