.content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.block{
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin-bottom: 10%;
}
.number {
  color: #f2f1f0;
  font-family: "Times New Roman"; 
  font-size:450px ; 
  font-weight:100px;
}
.item{
  color:black;
  font-family: "Times New Roman"; 
  font-size: 25px ; 
  font-weight:100px;
  text-decoration: none;
}
.linkk {
  position: absolute;
  margin-top: 8%;
}
.photo {
  margin-left: 12%;
  width: 150px;
  height: auto;
}
