.container {
    min-height: calc(100vh - 200px);
    background: white;
    display: flex;
    justify-content: center;
}
.border{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 970px;
    height: 640px;
    padding: 20px;
    background: #EFD8D3;
    margin-bottom: 2%;
}
.feedBorder {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 900px;
    padding: 40px;
    background: #EFD8D3;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}