.UserInfo img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}
.UserInfo {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}
.name {
  margin-left: 3%;
}
.button1, .button2 {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 20%;
}
.button2 {
  position: relative;
  padding-left: 12px;
}
.nameChangeField{
  border: none;
  outline: none;
  width: 60%;
  height: 42px;
  padding-left: 15px;
  background: transparent;
}
.block {
  position: relative;  
  background: #f2f1f0;
}
.edit {
  margin-left: 3%;
}
