.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.header {
    width: 1000px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.controls {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
.page {
    margin: 0 10px;
    height: 34px;
    width: 34px;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #e6e6e6;

    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
    font-weight: bold;
}