.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  height: 42px;
  background: #f8f4ff;
}

.input {
  height: 100%;
  width: calc(100% - 57px);
  padding: 0;
  margin-left: 15px;

  border: none;
  background: none;

  font-size:25px ;
  font-weight: 100;
}

.input:focus, textarea:focus, input:focus{
  outline: none;
}

.btn {
  height: 100%;
  width: 42px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.btn > i {
  color: #ccc;
}

.popup {
  min-height: 42px;
  padding: 0 0 20px 20px;
  display: flex;
  flex-flow: row wrap;
}

.chip {
  display: flex;

  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0 15px;
  border-radius: 15px;

  font-size: 14px;

  align-items: center;

  outline: none;
  border: none;

  background: #D1DDFF;
  white-space: nowrap;
}