.content {
  position: relative;
  background: #f2f1f0;
}
.SearchForm, button{
  border: none;
  outline: none;
  background: transparent;
}
.SearchForm {
  height: 42px;
  width: 94%;
  padding-left: 15px;
  font-size:25px ; 
  font-weight:100px;
}
button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}